@inject IJSRuntime JSRuntime
@inject INoteRepository NoteRepository

<button class="btn btn-primary" @onclick="AddNote">
    <span class="oi oi-plus"></span>
    New Note
</button>

<div class="row">
    @if (Notes.Count == 0)
    {
        <div class="m-3">
            <h5>Nothing to display</h5>
        </div>
    }
    else
    {
        @foreach (var note in Notes)
        {
            <NoteListItem Note="note" OnAddNewNote="SaveNote" OnDeleteNote="DeleteNote" />
        }
    }
</div>

@code{

    private bool isEditing;
    public IList<NoteModel> Notes { get; set; }

    protected override void OnInitialized()
    {
        Notes = NoteRepository.GetAll()
            .OrderByDescending(n => n.Created)
            .ToList();
    }

    private void AddNote()
    {
        if(!isEditing)
        {
            Notes.Insert(0, new NoteModel() { ReadOnly = false });

            isEditing = true;
        }
    }

    private void SaveNote(NoteModel noteModel)
    {
        noteModel.ReadOnly = true;

        NoteRepository.Save(noteModel);

        isEditing = false;
    }

    private async void DeleteNote(NoteModel noteModel)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"The note {noteModel.Title} is going to be deleted, are you sure ?"))
            return;

        try
        {
            NoteRepository.Delete(noteModel);
            Notes.Remove(noteModel);

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}