
<button class="btn btn-primary">
    <span class="oi oi-plus"></span>
    New Note
</button>

<div class="row">
    @foreach (var note in Notes)
    {
        <NoteListItem Note="note" />
    }
</div>

@code{
    public IList<NoteModel> Notes { get; set; }

    protected override void OnInitialized()
    {
        Notes = new List<NoteModel>()
        {
            new NoteModel{Title = "First note", Content = "First content"},
            new NoteModel{Title = "Second note", Content = "Second content"},
            new NoteModel{Title = "Third note", Content = "Third content"},
            new NoteModel{Title = "Fourth note", Content = "Fourth content"}
        };
    }
}