@inherits LayoutComponentBase

<div class="main">
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="img/logo_a.png" alt="Blazor Notes">
        </a>
    </nav>

    <div class="content px-4 mt-2">
        @Body
    </div>
</div>
